---
const { title, fulfilled } = Astro.props;
---

<button id="is_done"> {fulfilled} </button>

<style>
    #is_done {
        padding: 25% 25%;
        background-color: grey;
    }

    #is_done:hover {
        background-color: pink;
    }
</style>

<script>
    async function userAction() {
        console.log("test");
        const getDataResponse = await fetch("http://localhost:8080/todo/2");
        const myData = await getDataResponse.json();

        myData.title = "fuck this";
        myData.fulfilled = !myData.fulfilled;
        //maybe stringify?

        const response = await fetch("http://localhost:8080/updateTodo/2", {
            method: "POST",
            body: JSON.stringify(myData), // string or object
            headers: {
                "Content-Type": "application/json",
            },
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson

        console.log("did it update? \n");
    }

    const h = document.getElementById("is_done");
    h?.addEventListener("click", userAction);
</script>
