---

---

<button id="is_done"> </button>

<style>
    #is_done,
    #is_done:hover,
    #is_done:active {
        content: "hello";
        background-image: url(/box1.svg);
        background-color: var(--accent);
        background-size: 100%;
        width: 100%;
        display: block;
        aspect-ratio: 1 / 1;
        transition: background-image 0.3s linear;
        border: none;
        outline: none;
    }
</style>

<script>
    var isDoneState = true;

    function func() {
        var isDone = document.getElementById("is_done");

        if (isDoneState) {
            isDone!.style.backgroundImage = "url(/box2.svg)";
            isDoneState = !isDoneState;
        } else {
            isDone!.style.backgroundImage = "url(/box1.svg)";
            isDoneState = !isDoneState;
        }
    }

    const button = document.getElementById("is_done");

    button?.addEventListener("click", func);
</script>
