---
const { title, fulfilled } = Astro.props;
---

<button id="is_done" data-htmlfulfilled={fulfilled}> </button>

<style define:vars={{ fulfilled }}>
    #is_done,
    #is_done:hover,
    #is_done:active {
        content: "hello";
        background-color: var(--accent);
        background-size: 100%;
        width: 100%;
        display: block;
        aspect-ratio: 1 / 1;
        transition: background-image 0.3s linear;
        border: none;
        outline: none;
    }
</style>

<script define:vars={{ fulfilled }}>
    var isDoneState = fulfilled;

    var isDone = document.getElementById("is_done");
    console.log("fulfilled status at beginning: " + fulfilled);

    if (isDoneState == true) {
        isDone.style.backgroundImage = "url(/box1.svg)";
    } else {
        isDone.style.backgroundImage = "url(/box2.svg)";
    }

    function func() {
        if (isDoneState) {
            isDone.style.backgroundImage = "url(/box2.svg)";
            isDoneState = !isDoneState;
        } else {
            isDone.style.backgroundImage = "url(/box1.svg)";
            isDoneState = !isDoneState;
        }
    }

    const button = document.getElementById("is_done");

    button?.addEventListener("click", func);
</script>
