.App {
  text-align: center;
  /* background-color: #383838; */
  background-color: #161719;
  min-height: 100vh;
  padding-bottom: 20vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  /* background-color: #2B3045; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Footer {
  margin: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}