:root {
    /* main */
    --main-bg-color: #161719;

    /* TodoList.css */
    --todo-entry-bg-color: #4B6D5B;
    --todo-entry-bg: linear-gradient(90deg, rgb(67, 122, 93) 25%, rgb(43, 97, 78) 100%);

    --todo-entry-fulfilled-bg-color: #364f41;
    --todo-entry-fulfilled-bg: linear-gradient(90deg, rgba(36, 70, 52, 0.912) 10%, rgb(38, 78, 56) 55%, rgba(39, 68, 52, 0.534) 100%);


    --todo-desc-bg-color: #b4ca9c98;


    --sections-header-bg-color: #222222;
    --sections-header-bg: linear-gradient(90deg, rgba(51, 51, 51, 0.637) 10%, rgba(34, 34, 34, 1) 100%);


    --todo-fulfilled-strikethrough-color: rgba(197, 196, 196, 0.671);

    /* buttons */
    --accent-color: #8e9982;
    --button-shadow-color: rgba(105, 105, 105, 0.514);
    --button-hover-success-color: rgba(147, 255, 171, 0.815);
    --button-hover-delete-color: lightcoral;
}