@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-lm: #f6ebdc;
  --color-text-lm: #d94355;
  --color-text-linethrough: #561A22;

  --color-accent-lm: #321d34;

  --color-text-hover-lm: oklch(70.4% 0.191 22.216);

  --color-modal-input-txt: gray;
  --color-modal-input-bg: #fafafa;
  --color-modal-input-focus-bg: white;

}

@layer {
  .dark {
    --color-bg-lm: #202325;
    --color-text-lm: #d94355;
    --color-text-linethrough: #b13947b9;

    --color-accent-lm: #c6d2d8;

    --color-text-hover-lm: oklch(70.4% 0.191 22.216);

    --color-modal-input-txt: rgb(65, 65, 65);
    --color-modal-input-bg: #fafafa;
    --color-modal-input-focus-bg: white;
  }
}


html,
body,
#root {
  height: 100%;
}

#root {
  overflow-y: scroll;
  scrollbar-color: var(--color-accent-lm) var(--color-bg-lm);
}