.custom-checkmark-container {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
}


@keyframes shake {
    0% {
        transform:
            scale(0.8) rotate(10deg) translateY(-10px);
        opacity: 0;
    }

    60% {
        transform:
            scale(1.1) rotate(-5deg);
        opacity: 1;
    }

    80% {
        transform:
            scale(0.95) rotate(2deg);
    }

    100% {
        transform:
            scale(1) rotate(0deg);
        opacity: 1;
    }
}

.checkmark-button {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease;

    pointer-events: none;

    height: calc(5% + 5vh);

    cursor: pointer;
    border: none;
    color: white;
    user-select: none;

    /* makes black checkbox white */
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(126deg) brightness(110%) contrast(100%);

}

.checkmark-button:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
    animation: shake 0.5s ease-out;
}

.hidden {
    opacity: 0;
    pointer-events: auto;
}