.todoEntry-desc-delete {
    flex: 1;
}

.todoEntry-desc-delete-button {
    cursor: pointer;

    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;

    border-radius: 5vh;
    border: none;

    font-size: 1.5vh;
}

.todoEntry-desc-delete-button:hover::after {
    content: "u sure?";
    font-weight: bolder;
}

.todoEntry-desc-delete-button:hover {
    background-color: var(--button-hover-delete-color);
    transition-duration: 0.5s;
    color: white;
}

.todoEntry-desc-delete-button::after {
    content: "delete?";
}