.todoEntry-desc-delete {
    flex: 1;

    margin-top: 2vh;
    margin-bottom: 2vh;
}

.todoEntry-desc-delete-button {
    cursor: pointer;

    padding: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

    border-radius: 2vh;
    border: none;
}

.todoEntry-desc-delete-button:hover::after {
    content: "u sure?";
    font-weight: bolder;
}

.todoEntry-desc-delete-button:hover {
    background-color: var(--button-hover-delete-color);
    transition-duration: 0.5s;
    color: white;
}

.todoEntry-desc-delete-button::after {
    content: "delete?";
}