.todoEntryCompleted-container {

    /* background-color: var(--todo-entry-fulfilled-bg-color); */
    background: var(--todo-entry-fulfilled-bg);
}



.todo-title {
    flex: 2;
    font-size: 1.5vw;
    padding-left: 7%;
    font-weight: bolder;
    position: relative;
    justify-content: left;

    user-select: none;
    color: #ffffff;

    cursor: pointer;
}


.todo-title-linethrough {
    text-decoration: line-through;
    text-decoration-thickness: 0.15vw;

    color: var(--todo-fulfilled-strikethrough-color);
}

.section-todos-header {
    width: 60%;
    display: flex;

    align-items: center;
    justify-content: center;

    margin: 5vh auto 1vh auto;

    border-bottom-style: inset;
    border-left-style: inset;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;

    cursor: pointer;

    /* background-color: var(--sections-header-bg-color); */
    background: var(--sections-header-bg);
}

.section-todos-header-title {
    flex: 4;
    color: white;
    text-align: left;

    padding-left: 1.5vh;

    margin-top: 2vh;
    margin-bottom: 2vh;

    font-size: 0.7vw;

}

.header-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}


#section-todos-header-icon-actives,
#section-todos-header-icon-completed {
    margin-left: 4vh;

    color: rgba(255, 255, 255, 0.411);
    font-size: 2.5vh;
    font-weight: bolder;

    pointer-events: none;
    transition: all 0.2s ease-in;
}

#section-todos-header-icon-actives.active,
#section-todos-header-icon-completed.active {
    transform: rotate(90deg);
}