.openPopup-button {
    /* background-color: rgba(141, 252, 165, 0.644); */
    /* background-color: #8e9982; */
    background-color: var(--accent-color);
    color: white;

    width: 20%;
    padding-top: 3vh;
    padding-bottom: 3vh;

    margin-top: 1vh;
    margin-bottom: 1vh;

    border: none;
    cursor: pointer;

    border-radius: 2vh;

    transition-duration: 0.2s;

}

.addTodoForm-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#that-addTodoForm-popup-container {
    display: block;
    opacity: 1;
    overflow: hidden;

    /* Standardwerte */
}

#that-addTodoForm-popup-container.visible {
    opacity: 1;
    max-height: 50vh;
    /* Zielhöhe */
    transition: all 0.2s ease-in;
    /* Schnellere Animation beim Ausklappen */
}

#that-addTodoForm-popup-container.hidden {
    opacity: 0;
    max-height: 0;
    transition: all 0.2s linear;
    /* Langsamere Animation beim Einklappen */
}

.openPopup-button:hover {
    /* background-color: rgba(141, 252, 165, 0.795); */
    box-shadow: 10px 5px 20px 5px var(--button-shadow-color);
}

.addTodoForm {
    display: block;
}


.addTodoForm input[type="text"],
.addTodoForm-desc {
    width: 15%;
    height: 6vh;
    margin-top: 0.5vh;
    padding-left: 2vh;
    padding-right: 2vh;

    border-radius: 0.5vh;
    background-color: #fcf6f6ea;
    resize: none;
}

.addTodoForm input[type=text]:focus,
.addTodoForm-desc:focus {
    background-color: white;
    outline: none;
}

.addTodoForm input[type=text]::placeholder,
.addTodoForm-desc::placeholder {
    text-align: center;
}

.addTodoForm-submitButton {
    width: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;

    margin-top: 2vh;
    margin-bottom: 3vh;

    border: none;
    cursor: pointer;
    border-radius: 2vh;

    transition-duration: 0.3s;

}

.addTodoForm-submitButton:hover {
    background-color: rgba(147, 255, 171, 0.815);
    background-color: var(--button-hover-success-color);

    box-shadow: 15px 10px 20px 5px var(--button-shadow-color);
}