.modal-container:modal {
    width: 30%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #222222;

    border-radius: 5%;
    border-style: outset;
    border-color: #8b8b8b79;
}

.modal-container::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.modal-title-container {
    display: flex;

    align-items: center;

    width: 100%;
    height: auto;

    align-self: flex-start;
}

.modal-title {
    flex: 6;
    /* padding: 1%; */
    font-weight: bolder;
    font-size: 22px;

    text-align: left;
    color: white;

    padding-left: 10%;
}

.modal-close-button-container {
    flex: 1;
    align-items: center;
    cursor: pointer;
    color: white;
}

.modal-close-button {
    color: white;

    height: 5vh;
}

.modal-close-button:hover {
    color: lightcoral;
    transition: all 0.1s ease-in;
}

.todo-modal-content-container {
    height: 80%;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}




.todo-entry-edit-container {
    width: 100%;
}

.todo-entry-edit-button {
    width: 50%;
    padding: 12%;

    cursor: pointer;
}

.todo-entry-edit-button:hover {
    color: rgb(99, 184, 218);

    transition: all 0.2s ease-in-out;
}

.openPopup-button {
    background-color: var(--accent-color);
    color: white;

    width: 20%;
    height: 7vh;


    margin-top: 1vh;
    margin-bottom: 1vh;

    border: none;
    cursor: pointer;

    border-radius: 2vh;

    font-size: 1.5vh;
    /* font-size: calc(50% + 1vh); */
    font-weight: bold;

    transition-duration: 0.2s;
}

.openPopup-button:hover {
    /* background-color: rgba(141, 252, 165, 0.795); */
    box-shadow: 10px 5px 20px 5px var(--button-shadow-color);
}





.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-form-title,
.modal-form-desc {
    width: 60%;
    height: 7vh;
    margin-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;

    border-radius: 0.5vh;
    background-color: #fcf6f6ea;
    resize: none;
}

.modal-form-title:focus,
.modal-form-desc:focus {
    background-color: white;
    outline: none;
}

.modal-form-title::placeholder,
.modal-form-desc::placeholder {
    text-align: center;
}

.modal-form-submitButton {
    width: 30%;
    padding-top: 1vh;
    padding-bottom: 1vh;

    margin-top: 4vh;
    margin-bottom: 2vh;

    border: none;
    cursor: pointer;
    border-radius: 2vh;

    transition-duration: 0.3s;
}

.modal-form-submitButton:hover {
    background-color: rgba(147, 255, 171, 0.815);
    background-color: var(--button-hover-success-color);

    box-shadow: 15px 10px 20px 5px var(--button-shadow-color);
}