.collapse-all-button {
    background-color: #8e9982;
    color: white;
    font-weight: normal;
    font-size: 1.5vh;


    padding: 10% 20% 10% 20%;

    border: none;
    border-radius: 1vh;
    border-bottom-left-radius: 0;
    margin-bottom: 0.2vh;
}

.collapse-all-button:hover {
    background-color: var(--button-hover-success-color);
    font-weight: bolder;

    transition: all 0.3s;
    cursor: pointer;
}

.collapse-container {
    width: 100%;

}