.openPopup-button {
    background-color: rgba(141, 252, 165, 0.644);
    color: white;

    width: 20%;
    padding-top: 3vh;
    padding-bottom: 3vh;

    margin-top: 2vh;
    margin-bottom: 2vh;

    border: none;
    cursor: pointer;

    border-radius: 2vh;

    transition-duration: 0.3s;

}

.addTodoForm-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.openPopup-button:hover {
    background-color: rgba(141, 252, 165, 0.795);
    box-shadow: 15px 10px 20px 5px rgba(75, 75, 75, 0.9);

}

.addTodoForm {
    display: none;
}

.addTodoForm input[type="text"],
.addTodoForm-desc {
    width: 15%;
    height: 6vh;
    margin-top: 0.5vh;
    padding-left: 2vh;
    padding-right: 2vh;

    border-radius: 0.5vh;
    background-color: #fcf6f6ea;
    resize: none;
}

.addTodoForm input[type=text]:focus,
.addTodoForm-desc:focus {
    background-color: white;
    outline: none;
}

.addTodoForm input[type=text]::placeholder,
.addTodoForm-desc::placeholder {
    text-align: center;
}

.addTodoForm-submitButton {
    width: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;

    margin-top: 2vh;
    margin-bottom: 1vh;

    border: none;
    cursor: pointer;
    border-radius: 2vh;

    transition-duration: 0.3s;

}

.addTodoForm-submitButton:hover {
    background-color: rgba(141, 252, 165, 0.795);
    box-shadow: 15px 10px 20px 5px rgba(75, 75, 75, 0.9);
}